* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans", sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 60px 40px;
  gap: 40px;
}

.hero img {
  width: 100%;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 30px;
  background-color: #e10600;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
  background-color: #1c1c1c;
}

.benefit {
  text-align: center;
  padding: 20px;
}

.classes {
  padding: 60px 40px;
}

.class-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.class-card img {
  width: 100%;
  border-radius: 8px;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color: #1c1c1c;
}

.cta {
  text-align: center;
  padding: 60px 40px;
}
